{% include 'home/navbar.html'%}

<style>
	.column{
		float: left;
		width: 25%;
		text-align: center;
	}
	.row.after{
		content: "";
		display: table;
		clear: both;
	}

	h3{font-style: italic;
	font-weight: 200;}

	button{
		font-size: 
		large;margin-top:100px;
	}
	body{background-color: rgb(189, 191, 192);}


</style>
<body>
<h1>Lista de Tarifas Disponibles</h1>
<h3>Seleccione la tarifa deseada.</h3>
<hr>	
		{% for extra in extras %}
		<h1>{{extra.precio}}</h1>

		{% endfor %}
	
		{% for tarifa in tarifas %}
		<div class="row">
			<div class="column">
				<a href= {% url 'recogida_entrega:reserva' id_coche tarifa.id%}> <button>{{tarifa.tipo}}</button></a>
			</div>
		</div>
		{% endfor %}

</body>
	


