<!-- templates/home.html-->
<style>
	button{font-size: large;margin-top:20px; margin-bottom: 20px;}
	body{background-color: rgb(189, 191, 192);}
</style>
<body>
{% extends 'home/base.html' %}

{% block title %}Home{% endblock %}

{% block login %}
{% if user.is_authenticated %}
  Hola, {{ user.username }}
  <p><a href="{% url 'account:logout' %}"><button> Cerrar sesión</button></a></p>
{% else %}
	<p>No has iniciado sesión.</p>
	<ul>
		<li><a href="{% url 'account:login' %}"><button> Iniciar sesión</button></a></li>
		<li><a href="{% url 'account:register' %}"><button> Registro</button></a></li>
	</ul>
{% endif %}
	{% block content %}
	{% endblock %}
{% endblock %}
</body>