<style>
    img{ margin-right: 20px;}
</style>
<div>
<a href="/welcome"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRHqR3ifwkLIlb5sxVSKHlXVUg5lc9kRiTn33XNTMuaxAPsqFQzq8yuVzrZVufFkB9n8Q&usqp=CAU" 
    alt= "home" width="40" height="40">
</a>

<a href="/home"> 
    <a href="{% url 'account:logout' %}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7RSPlcvjDUNR3KYeLDtOCp6_r5NxMSqdhC8UUZlE79NOarKMRagOtRFEkPWWJCIOtQQo&usqp=CAU" 
        alt= "home" width="40" height="40"></a>
</a>
</div>
<hr>

