{% include 'home/navbar.html'%}

<style>
	.column{
		float: left;
		width: 25%;
		text-align: center;
	}
	.row.after{
		content: "";
		display: table;
		clear: both;
	}

	h3{font-style: italic;
	font-weight: 200;}

	button{
		font-size: 
		large;margin-top:100px;
	}

</style>

<h1>Lista de Tarifas Disponibles</h1>
<h3>Seleccione la tarifa deseada.</h3>
<hr>

	
		{% for tarifa in tarifas %}
		<div class="row">
			<div class="column">
				<a href= {% url 'recogida_entrega:reserva' id_coche tarifa.id%}> <button>{{tarifa.tipo}} con precio {{tarifa.precio}} €</button></a>
			</div>
		</div>
		{% endfor %}
	


