{% include 'home/navbar.html'%}

<style>

button{font-size: large;margin-top:20px; margin-bottom: 20px;}
h3{font-style: italic;
		font-weight: 200;}
body{background-color: rgb(189, 191, 192);}
</style>

<body>
	<h1>Reservas</h1>
	<h3>Cancele o modifique sus reservas.</h3>

	<hr>
	
	{% for reserva in reservas %}
	{{reserva}} <br>
	<a href= {% url 'reservas:modificar_reserva' reserva.id %}><button> Modificar Reserva</button></a>
	<a href= /eliminar_reserva/1 ><button>Eliminar Reserva</button></a>

	<hr>
	{% endfor %}
</body>


