{% extends "home/navbar.html" %}
{% load static %}

    {% block title %}Registro de usuario | Auto veloz{% endblock %}

    {% block content %}
    <style>   
        .main-button {
      display: inline-block;
      font-size: 15px;
      padding: 10px 15px;
      background-color: #ed563b;
      color: #fff;
      border-radius:4px;
      border:0px;
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
      transition: all .3s;
    }

    .main-button:hover {
      background-color: #f9735b;
      color: #fff;
    }


    </style>
    
    <section class="section section-bg" id="call-to-action" style="background-image: url({% static 'assets/images/banner-image-1-1920x500.jpg' %})">
        <section class="section" id="trainers" style="margin-top:10%">
            <div class="wrapper"> 
                <div class="container">
                    <div class="row">
                        <div class="trainer-item" style="margin-left:auto;margin-right:auto">
                            <h2>Registro</h2>
                            <br>
                            <form method="post" style="text-align:right">

                                {% csrf_token %}
                              {{ form.as_p }}
                             
                              {% if messages %}
                              {% for message in messages %}

                              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                              <div class="alert alert-success" role="alert" style="text-align:center" id="msg">
                              {{ message }}

                              </div>
                              {% endif %}

                              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                              <div class="alert alert-danger" role="alert" style="text-align:center" id="msg">
                              {{ message }}

                              </div>
                              {% endif %}

                              {% endfor %}
                              {% endif %}

                              <script>
                                    setTimeout(function(){
                                        if($('#msg').length > 0){
                                                $('#msg').remove();
                                                $('#msg').remove();
                                                $('#msg').remove();
                                                $('#msg').remove();                                            
                                        }
                                    }, 5000)
                                
                            </script>

                            <button type="submit" id="form-submit" class="main-button">Registrarse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    {% endblock %}

  