{% include 'home/navbar.html'%}

	<style>
		.column{
			float: left;
			width: 33%;
		}
		.row.after{
			content: "";
			display: table;
			clear: both;
		}

		div{text-align: center;}
		h3{font-style: italic;
		font-weight: 200;}

		button{font-size: large;margin-top:100px;}
		head{background-color: rgb(189, 191, 192);}
		body{background-color: rgb(189, 191, 192);}


	</style>


<body>
<h1>Seleccion de Temporadas</h1>
<h3>Seleccione por favor la temporada en la que desea realizar la reserva.</h3>

<hr>


	<div class="row">
		<div class="column">
			<a href= {% url 'tarifas:tarifas_disponibles' id_coche 1%}><button>Enero-Mayo</button></a>
		</div>
		<div class="column">
			<a href= {% url 'tarifas:tarifas_disponibles' id_coche 2%}><button>Junio-Septiembre</button></a>
		</div>
		<div class="column">
			<a href= {% url 'tarifas:tarifas_disponibles' id_coche 3%}><button>Octubre-Diciembre</button></a>
		</div>
	</div>
</body>
</html>
